@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ade8f4;
  color: #023e8a;
  position: relative;
  overflow: hidden;
}

.times{
  color: #023e8a;
  font-size: 26px;
  word-spacing: 10px;
  letter-spacing: 10px;
  font-weight: 600;
}

.inputs{
  width: 13%;
  display: flex;
}

.inputs button{
  margin: 5px;
  margin-top: 25px;
  width: 100%;
  height: 4vh;
  background-color: #023e8a;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.2s;
  letter-spacing: 2px;
  font-variant-caps: all-petite-caps;
}

.inputs button:active{
  width: 99%;
  transform: translateY(2px);
}

.grabedTime{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  padding: 5px;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
}

.grabIs{
  width: 15%;
  height: 4vh;
  /* background-color: #0096c7; */
  background-color: #fff;
  /* color: white; */
  display: grid;
  place-content: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.setAlert{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d6d;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 12px;
  display: grid;
  place-content: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.setAlert:active{
  position: absolute;
  top: 12px;
  right: 10px;
}


.alertModalOpen{
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.5s;
  /* z-index: 1; */
}

.alertModal{
  position: relative;
  height: 50%;
  width: 50%;
  border-radius: 5px;
  background-color: #03045e;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alertModal .close{
  position: absolute;
  top: 10px;
  right: 10px;
}

.alertModal .close img{
  width: 25px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid white;
}

.alertModal input{
  width: 25%;
  height: 4vh;
  border-radius: 5px;
  border: none;
}

.alertModal button{
  width: 25%;
  margin: 10px;
  height: 4vh;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #99d98c;
  transition: all ease-in 0.2s;
}

.alertModal button:active{
  width: 24%;
  transform: translateY(2px);
 
}

.alarm{
 display: none;
}

.alarm img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 5%;
}